.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

$content-list: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  evenly: space-evenly
);

$align-list: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  evenly: space-evenly
);

@each $name, $value in $content-list {
  .content-#{$name} { 
    justify-content: $value;
  }
}

@each $name, $value in $align-list {
  .align-#{$name} { 
    align-items: $value;
   }
}